  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } 
.wrapper{
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden; 
    perspective: 10px;
} 

.container{
    position: relative;
    height: 100%;
    width: 100%; 
    transform-style: preserve-3d; 
    z-index: -1; 
    display: flex;
    justify-content: center;
    align-items: center; 
    

}   


h1{

   position:absolute;
   font-size: 10rem;
   transform: translateX(-50%);
   left: 50%;
   top: 5rem;  
   color: white;
   text-shadow: 0 0 10px rgba(0,0,0,0.3); 
   letter-spacing: 10px;

}

.background, .foreground{

    position: absolute; 
    height: 100%;
    width: 100%; 
    z-index: -1; 
    object-fit: cover;
}

.background{
    transform: translateZ(-45px) scale(7);
} 
.foreground{
    transform: translateZ(-20px) scale(3);
}

section{
    background-color: rgb(45,45,45);
    color:white; 
    padding: 5rem 0;
  
}  

.secHeading{
    font-size: 5rem;
    padding: 0 10rem;

}
.text{
    font-size: 1.5rem;
    padding: 0 10rem;
    margin: 5rem 0;
}

.bg{
    position: relative; 
    background-attachment: fixed;
    height: 500px; 
    width: 100%; 
    background-size: cover; 
    background-position: center;

}  

.discription{
    position: absolute;
    background-color : white ; 
    padding: 0.5rem 2.5rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%); 
    color: black;
    font-size: 3.5rem;
    font-weight: 600;

}
/* 54228649 */

.bg1{
    background-image: url(BIKING.jpeg); 
   /* this is another way to add image by using obove tag   */ 

} 

.bg2{
    background-image: url(PARA_GLIDING.jpeg);
} 

.bg3{
    background-image: url(SURFING.jpeg);
}  